<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="customer-data-custom-status"
                type="Magenius\CustomerStatus\CustomerData\Plugin\Customer\CustomStatusData" sortOrder="20"/>
    </type>
</config>